<h1>Add Expense for Sash</h1>
<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Expense Title">
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter Amount">
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-default" id="submit-form">Add Expense</button>
</form>
