<h3>Create a new Activity</h3>

<form name="createActivity">
  <div class="card gp-card-activity-data">
    <div class="card-body">
        <div class="form-group">
          <label for="activityName">Activity Name:</label>
          <input type="text" class="form-control" id="activityName" name="activityName" placeholder="Enter name of Activity" [(ngModel)]="activity.title">
        </div>
    </div>
  </div>

  <h4>Members:</h4>
  <div class="card">
    <div class="card-body">
      <div>
        <h5>You:</h5>
        <div class="form-group">
          <label for="creatorName">Name:</label>
          <input type="text" class="form-control" id="creatorName" name="creatorName" placeholder="Enter your name" [(ngModel)]="activity.members[0].name">
        </div>
        <div class="form-group">
          <label for="creatorEmail">Email address</label>
          <input type="email" class="form-control" id="creatorEmail" name="creatorEmail" placeholder="Enter your email" [(ngModel)]="activity.members[0].email">
        </div>
      </div>
      <div *ngFor="let member of activity.members | slice:1; let i=index" class="gp-new-person">
        <h5>Person {{i+2}}:</h5>
        <div class="form-group">
          <label for="{{'creatorName' + i}}">Name:</label>
          <input type="text" class="form-control" id="{{'creatorName' + i}}" name="{{'creatorName' + i}}" placeholder="Enter your name" [(ngModel)]="member.name">
        </div>
      </div>
      <button class="btn btn-primary" (click)="addMember()">Add Person</button>
    </div>
  </div>

  <div class="gp-page-actions">
    <button type="submit" class="btn btn-primary" (click)="createActivity()">Create Activity</button>
  </div>
</form>
