<h3>
  Create a new Activity
</h3>

<form>
  <div class="card gp-card-activity-data">
    <div class="card-body">
        <div class="form-group">
          <label for="activityName">Activity Name:</label>
          <input type="text" class="form-control" id="activityName" placeholder="Enter name of Activity">
        </div>
    </div>
  </div>

  <h4>Members:</h4>
  <div class="card">
    <div class="card-body">
      <h5>You:</h5>
      <div class="form-group">
        <label for="creatorName">Name:</label>
        <input type="text" class="form-control" id="creatorName" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="creatorEmail">Email address</label>
        <input type="email" class="form-control" id="creatorEmail" placeholder="Enter your email">
      </div>
    </div>
  </div>
</form>
